#menuletters {
    margin: 2%;
    border-radius: 20%;
    background-color: pink;
    display: flex;
    align-items: center;
}
p {
    width: 10%;
    align-items: center;
    padding: 10px;
}
h3 {
    color: red;
}
#mealsContainer {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
      }
