body {
  font-family: Arial, Helvetica, sans-serif;
}

#meals-container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

p {
  margin: 0;
}
#Menuletter{
  display: flex;
}
#Menuletter p {
color: rgb(0, 8, 8);
font-size: medium;
text-indent: 5px;
}