html, body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#game-container {
  position: relative;
  background-color: orange;
  width: 800px;
  height: 500px;
}

.obstacol {
  background-color: blueviolet;
  position: absolute;


}

#nine {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  background-color:red;;
}

#one {
  bottom:90px;
  top: 0px;
  left: 700px;
  height: 250px;
  width: 30px;
}

#two {
  bottom: 90px;
  left: 100px;
  top: 0px;
  height: 175px;
  width: 30px;
}

#three {
  bottom:90px;
  top: 0px;
  left: 300px;
  height: 250px;
  width: 30px;
}

#four {
  bottom: 90px;
  left: 440px;
  top: 0px;
  height: 175px;
  width: 30px;
} 

#five {
  bottom: 100px;
  top: 250px;
  left: 170px;
  height: 250px;
  width: 30px;
  
}

#six {
  bottom: 0px;
  top: 325px;
  left: 620px;
  height:175px;
  width: 30px;
}

#seven {
  bottom: 0px;
  top: 325px;
  left: 290px;
  height:175px;
  width: 30px;
}

#eight {
  bottom: 100px;
  top: 250px;
  left: 500px;
  height: 250px;
  width: 30px;

}