body {
  font-family: Arial, Helvetica, sans-serif;
}

#meals-container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

p {
  margin: 0;
}

#letters{
  display: flex;
  /* cursor: pointer; */
  margin-top: 10px;
  justify-content: space-between;
}

#letters p{
  cursor: pointer;
}
